* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 20%;
}

.card-group {
  margin-top: 8em;
  margin-bottom: 5em;
  color: #fff;
  border: 0;
  display: flex;
}

.card {
  padding: 2em 1em 2em 1.5em;
}

.card-img-top {
  margin-left: 1em;
}

.card-title {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-size: 2em;
  padding-top: 0.5em;
}

.card-text {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  padding-top: 1em;
}

.card-btn {
  padding-top: 2em;
}

div button {
  background: hsl(0, 0%, 95%);
  border: 0;
  padding: 0.9em 2.5em;
  border-radius: 50px;
}

.first button {
  color: hsl(31, 77%, 52%);
}

.first button:hover,
.first button:focus {
    background: hsl(31, 77%, 52%);
    color: #fff;
    border: 2px solid #fff;
}

.second button {
  color: hsl(184, 100%, 22%);
}

.second button:hover,
.second button:focus {
    background: hsl(184, 100%, 22%);
    color: #fff;
    border: 2px solid #fff;
}

.third button {
  color: hsl(179, 100%, 13%);
}

.third button:hover,
.third button:focus {
    background: hsl(179, 100%, 13%);
    color: #fff;
    border: 2px solid #fff;
}

div .first {
  background: hsl(31, 77%, 52%);
}

div .second {
  background: hsl(184, 100%, 22%);
}

div .third {
  background: hsl(179, 100%, 13%);
}
